@use "../../styles/colors" as *;

.PizzaOrder {
	background-color: $celeste;
	color: black;
	padding: 1.5rem;
	border-radius: 10px;
	flex-grow: 1;
}

.PizzaCard {
	padding: 0.5rem 2rem;
	border-radius: 10px;
	border: 2px solid $columbia-blue;
	margin: 1rem 0;
}
