@use "../../styles/colors" as *;

.Button {
	background-color: $french-rose;
	border: 3px solid $mexican-pink;
	color: white;
	font-weight: 600;
	border-radius: 15px;
	padding: 0.5rem 1rem;
	float: right;

	&:active {
		background-color: $mexican-pink;
		transform: translateY(2px);
	}
}
